.container {
  box-sizing: border-box;
  width: 100%;
  height: fit-content;
  max-width: 100vw;
  padding: 5%;
  background: #f9f9f9;
}

.menu {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 13%;
  border-bottom: 1px solid #cbcbcb;
  padding: 5%;
  background: #f9f9f9;
  opacity: 1;
  z-index: 20;

  @media (min-width: 1024px) {
    padding: 1% 5% 1% 5%;
    height: 8%;
    border-bottom: none;
    border-radius: 0 20px 20px 0;
  }

  &-container {
    display: flex;
    position: relative;
    justify-content: space-between;

    @media (min-width: 1024px) {
      justify-content: start;
      height: 100%;
    }
  }

  &-header {
    display: flex;
    width: fit-content;

    @media (min-width: 768px) {
      margin-bottom: 5%;
    }

    @media (min-width: 1024px) {
      margin-bottom: 0;
    }
  }

  &-company {
    @media (min-width: 768px) {
      margin-bottom: 15%;
    }

    @media (min-width: 1024px) {
      display: none;
    }
  }

  &-showdown {
    width: 15%;
    border: 0;
    background: none;

    &-icon {
      animation: fadeIn 0.5s ease-in-out;
    }

    @media (min-width: 768px) {
      margin-bottom: 5%;
    }

    @media (min-width: 1024px) {
      visibility: hidden;
      width: 0;
      height: 0;
    }
  }

  &-content {
    position: fixed;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    top: 10%;
    left: 0;
    height: 90%;
    width: 100%;
    justify-content: space-between;
    padding: 10% 5% 5% 5%;
    background: #f9f9f9;
    z-index: 10;
    animation: expand 0.3s ease-in-out;

    @media (min-width: 1024px) {
      position: relative;
      display: flex;
      flex-direction: row;
      width: 100%;
      padding: 0;
      align-items: center;
    }
  }

  &-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    animation: fadeIn 0.5s ease-in-out;

    @media (min-width: 1024px) {
      flex-direction: row;
      width: 50%;
      gap: 0;
    }
  }

  &-link {
    display: flex;
    font-family: "Inter";
    font-weight: 500;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: 0%;
    text-transform: uppercase;
    text-decoration: none;
    color: #606060;
    animation: fadeIn 0.5s ease-in-out;

    @media (min-width: 1024px) {
      width: 25%;
      font-size: medium;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
    }

    &:hover {
      background: #D7D7D7;
    }
  }

  &-socials {
    width: 50%;

    @media (min-width: 1024px) {
      position: absolute;
      visibility: hidden;
      width: 0;
    }
  }

  &-button {
    display: flex;
    width: 100%;
    padding: 5%;
    border-radius: 10px;
    color: white;
    background-color: #141416;
    font-family: "Inter";
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.5s ease-in-out;

    @media (min-width: 1024px) {
      width: 25%;
      padding: 0.5%;
      animation: none;
    }

    &:hover {
      scale: 1.1;
      background: gray;
      border: gray;
    }
  }
}

.footer {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  max-width: 100vw;
  background: #141416;
  color: #f9f9f9;

  @media (min-width: 1024px) {
    padding: 2% 4% 2% 4%;
  }

  &-content {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #818181;
    padding-bottom: 10%;

    @media (min-width: 1024px) {
      flex-direction: column;
      padding-bottom: 0;
      border: 0;
    }
  }

  &-text {
    display: flex;
    width: 50%;
    flex-direction: column;

    @media (min-width: 1024px) {
      flex-direction: row;
      width: 100%;
      border-bottom: 1px solid #818181;
    }
  }

  &-header {
    display: flex;
    padding-left: 10%;

    @media (min-width: 1024px) {
      width: 50%;
      padding: 0;
    }
  }

  &-links {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 10%;
    padding-left: 10%;

    @media (min-width: 1024px) {
      flex-direction: row;
      width: 50%;
      padding: 0;
      gap: 0;
      justify-content: space-between;
      align-items: center;
    }
  }

  &-link {
    text-decoration: none;
    color: #b9b9b9;

    @media (min-width: 1024px) {
      width: 25%;
      text-align: end;
      font-size: 70%;
    }
  }

  &-socials {
    display: flex;
    box-sizing: border-box;
    width: 50%;
    padding-top: 7%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    @media (min-width: 1024px) {
      width: 100%;
      padding: 1%;
      justify-content: center;
      align-items: end;
    }
  }

  &-copyright {
    display: flex;
    text-decoration: none;
    color: #999999;
    font-size: 70%;
    justify-content: center;
    padding: 5%;

    @media (min-width: 1024px) {
      position: absolute;
      bottom: 20%;
      left: 4%;
      padding: 0;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  max-width: 100vw;
  margin-top: 30%;
  align-items: center;

  @media (min-width: 768px) {
    margin-top: 10%;
  }

  &-presentation {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 50%;

    @media (min-width: 768px) {
      display: flex;
      margin-bottom: 10%;
      scale: 1.05;
    }

    &-container {
      height: 300px;
      width: 100%;
      display: block;
      position: static;

      @media (min-width: 1440px) {
        width: 50%;
      }
    }
  }

  &-text {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 1440px) {
      width: 50%;
    }
  }

  &-add {
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    gap: 5%;
    opacity: 0.5;
    color: #201f1f;
    font-size: xx-small;

    @media (min-width: 1024px) {
      display: none;
    }
  }

  &-header {
    opacity: 0;
    font-family: "Poppins";
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -1.9px;
    text-align: center;
    text-transform: capitalize;
    font-size: 300%;
    margin: 0;
    animation: fadeIn 0.5s ease-in-out 0.2s forwards;

    @media (min-width: 1024px) {
      font-size: 400%;
      text-align: start;
    }

    @media (min-width: 1440px) {
      font-size: 600%;
      text-align: start;
    }
  }

  &-description {
    opacity: 0;
    font-family: Inter;
    font-weight: 400;
    font-size: 11.38px;
    line-height: 17.7px;
    letter-spacing: 0px;
    text-align: center;
    color: #676767;
    animation: fadeIn 0.2s ease-in-out 0.7s forwards;

    @media (min-width: 1024px) {
      font-size: 100%;
      text-align: start;
    }

    @media (min-width: 1440px) {
      font-size: 120%;
    }
  }

  &-button-group {
    opacity: 0;
    display: flex;
    width: 100%;
    gap: 5%;
    justify-content: center;
    animation: fadeIn 0.2s ease-in-out 0.7s forwards;

    @media (min-width: 1024px) {
      justify-content: start;
    }
  }

  &-explore-button {
    width: 40%;
    color: white;
    background: black;
    border-radius: 10px;
    padding: 4%;
    font-size: small;

    &:hover {
      opacity: 0.8;
    }
  }

  &-create-button {
    width: 40%;
    border-radius: 10px;
    padding: 4%;
    font-size: small;

    &:hover {
      background: #b9b9b9;
    }
  }

  &-stats {
    opacity: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    animation: fadeIn 0.5s ease-in-out 0.9s forwards;

    @media (max-width: 1023px) {
      display: none;
    }

    &-number {
      margin-bottom: 0;
    }

    &-category {
      margin-top: 0;
      color: gray;
      font-size: small;
    }
  }

  &-images {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 30%;
    margin-bottom: 20%;

    @media (min-width: 768px) {
      margin: 0;
    }
  }

  &-image-first {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 5%;
    height: 65%;
    animation: image1Appearance 0.5s ease-in-out 0.2s forwards;

    @media (min-width: 1024px) {
      top: -10%;
      left: 10%;
      height: 85%;
    }

    @media (min-width: 1440px) {
      height: 120%;
    }
  }

  &-image-second {
    position: absolute;
    opacity: 0;
    bottom: 10%;
    right: -5%;
    height: 45%;
    z-index: 10;
    animation: image1Appearance 0.5s ease-in-out 0.2s forwards;

    @media (min-width: 1024px) {
      bottom: 10%;
      right: -5%;
      height: 55%;
    }

    @media (min-width: 1440px) {
      bottom: -20%;
      height: 75%;
    }
  }

  &-image-overlay {
    position: absolute;
    opacity: 0;
    top: -10%;
    right: -5%;
    height: 90%;
    animation: image1Appearance 0.5s ease-in-out 0.2s forwards;
  }

  &-image-arrow {
    position: absolute;
    opacity: 0;
    top: 20%;
    right: 19%;
    height: 20%;
    animation: fadeIn 0.5s ease-in-out 0.7s forwards;

    @media (min-width: 1024px) {
      top: 10%;
      right: 23%;
      height: 30%;
    }

    @media (min-width: 1440px) {
      right: 19%;
      height: 35%;
    }
  }

  &-product {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: #f1f1f1;
    left: -5%;
    right: -5%;
    padding-bottom: 5%;

    &-header {
      text-align: center;
      color: #c5c5c5;
    }
  }

  &-swiper {
    box-sizing: border-box;
    display: flex;
    position: static;
    height: 50%;
    max-width: 100vw;
    max-height: 100vh;
    padding: 5% 0 5% 0;
  }

  &-navigation {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    &-prev {
      display: flex;
      width: 10%;
      height: 50px;
      background: white;
      border: none;
      border-radius: 10px 0 0 10px;
      justify-items: center;
      align-items: center;
      border-right: 1px solid gray;

      &:hover {
        scale: 1.1;
      }
    }

    &-next {
      display: flex;
      width: 10%;
      height: 50px;
      background: white;
      border: none;
      border-radius: 0 10px 10px 0;
      justify-items: center;
      align-items: center;
      border-left: 1px solid gray;

      &:hover {
        scale: 1.1;
      }
    }
  }

  &-end {
    box-sizing: border-box;
    position: relative;
    background: #141416;
    border-radius: 20px;
    width: 100%;
    height: 220px;
    padding: 10%;
    margin-bottom: 40%;

    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      padding: 5%;
    }

    @media (min-width: 1024px) {
      margin: 0;
      padding: 2%;
    }

    @media (min-width: 1024px) {
      margin: 0;
    }

    &-header {
      color: white;
      text-align: center;
      margin: 0;

      @media (min-width: 768px) {
        text-align: start;
      }
    }

    &-description {
      color: #d4d4d4;
      text-align: center;

      @media (min-width: 768px) {
        text-align: start;
      }
    }

    &-explore {
      border: none;
      border-radius: 10px;
      background: white;
      padding: 4%;
      width: 40%;
      font-size: small;
      font-weight: bold;

      &:hover {
        background: #D7D7D7;
      }
    }

    &-sell {
      border: 1px solid white;
      border-radius: 10px;
      background: black;
      color: white;
      padding: 4%;
      width: 40%;
      font-size: small;
      font-weight: bold;

      &:hover {
        background: #D7D7D7;
        color: black;
      }
    }

    &-image {
      position: absolute;
      box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.2);
      border-radius: 8px;
      left: 13%;
      bottom: -40%;

      @media (min-width: 768px) {
        position: relative;
        box-shadow: none;
        left: 0;
        bottom: 0;
        object-fit: cover;
      }
    }
  }
}

.slide {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 20px;
  background: #ffffff;
  width: 180px;
  align-items: center;
  padding: 2%;

  &-image {
    width: 180px;
    height: 180px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
  }

  &-timer {
    position: absolute;
    background: gray;
    color: white;
    border-radius: 30px;
    padding: 2%;
    top: 0;
    right: 10px;
  }

  &-content {
    display: flex;
    width: 100%;
    padding-bottom: 5%;
  }

  &-name {
    display: flex;
    width: 100%;
    justify-content: start;
    font-family: Poppins;
    font-weight: 600;
    font-size: 14.95px;
    line-height: 140%;
    letter-spacing: 0px;
    vertical-align: middle;
    padding-left: 10%;
  }

  &-info {
    width: 50%;

    &-target {
      width: 100%;
      font-family: Poppins;
      font-weight: 400;
      font-size: 9.97px;
      line-height: 150%;
      letter-spacing: 0.08px;
      vertical-align: middle;
      color: #94a3b8;
      margin-top: 0;
      padding-left: 10%;
    }

    &-price {
      display: flex;
      align-items: center;
      font-family: Poppins;
      font-weight: 400;
      font-size: 11.63px;
      line-height: 150%;
      letter-spacing: 0px;
      vertical-align: middle;
      color: #141416;
      margin-bottom: 0;
      padding-left: 10%;
    }
  }

  &-button {
    width: 50%;
    border-radius: 20px;
    background-color: #141416;
    color: white;
    font-family: Poppins;
    font-weight: 700;
    font-size: 9.97px;
    line-height: 150%;
    letter-spacing: 0.08px;
    vertical-align: middle;

    &:hover {
      background: #D7D7D7;
      border: #D7D7D7;
      color: #141416;
    }
  }
}

.hidden {
  display: none;
  opacity: 0;
  animation: fadeOut 0.3s ease-in-out forwards;
}

.collapse {
  display: none;
  opacity: 0;
  animation: collapse 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes expand {
  from {
    height: 0;
  }
  to {
    height: 90%;
  }
}

@keyframes image1Appearance {
  from {
    transform: translateX(30%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
